In [71]:
import pandas as pd
import numpy as np

# Create a data frame with 25 rows
rows = 25
df = pd.DataFrame({'A': np.random.randn(rows),
                   'B': np.random.randn(rows),
                   'C': np.random.randn(rows),
                   'D': np.random.randn(rows),
                   'E': np.random.randn(rows)})

# Add missing values
df.iloc[10:15, 0:3] = np.nan
df.iloc[20:25, 3:5] = np.nan

# Add non-finite values
df.iloc[0:5, 0:2] = np.inf
df.iloc[5:10, 2:4] = -np.inf

print(df.head(25))

           A         B         C         D         E
0        inf       inf -1.159540 -0.096751 -0.392140
1        inf       inf -0.685017 -0.667853 -0.085671
2        inf       inf -0.200254 -1.058346  1.067173
3        inf       inf  1.037136  0.296640  0.145568
4        inf       inf  0.883851  2.265409 -0.674668
5  -0.496407 -1.242263      -inf      -inf -0.558152
6  -1.539002 -0.375123      -inf      -inf  1.033504
7   1.561104  0.689486      -inf      -inf  0.397104
8  -0.523826  0.102843      -inf      -inf  0.157797
9  -0.993228 -1.183516      -inf      -inf  1.412798
10       NaN       NaN       NaN -1.281684  0.294898
11       NaN       NaN       NaN -0.567359  0.164109
12       NaN       NaN       NaN  1.373031  1.263222
13       NaN       NaN       NaN  0.446447 -0.778221
14       NaN       NaN       NaN -0.799264 -0.356913
15 -0.584044 -0.947450  0.576879 -0.457263 -0.181133
16 -0.484139 -0.785524 -1.750454  0.319434 -2.320291
17  0.178088 -1.029523  0.826049 -1.114084 -0.942300
18 -1.611863 -2.292305 -1.223428  0.075040  0.621627
19  0.144238 -0.430151 -1.781123  0.205824  0.724104
20 -1.265297  2.167277 -0.194969       NaN       NaN
21 -0.310377 -0.528890  1.080789       NaN       NaN
22 -0.016858  0.763176 -1.593134       NaN       NaN
23  0.566396  0.587871 -0.254675       NaN       NaN
24 -1.587820 -1.071384 -0.443475       NaN       NaN

In [72]:
df.isnull()

        A      B      C      D      E
0   False  False  False  False  False
1   False  False  False  False  False
2   False  False  False  False  False
3   False  False  False  False  False
4   False  False  False  False  False
5   False  False  False  False  False
6   False  False  False  False  False
7   False  False  False  False  False
8   False  False  False  False  False
9   False  False  False  False  False
10   True   True   True  False  False
11   True   True   True  False  False
12   True   True   True  False  False
13   True   True   True  False  False
14   True   True   True  False  False
15  False  False  False  False  False
16  False  False  False  False  False
17  False  False  False  False  False
18  False  False  False  False  False
19  False  False  False  False  False
20  False  False  False   True   True
21  False  False  False   True   True
22  False  False  False   True   True
23  False  False  False   True   True
24  False  False  False   True   True

In [73]:
df.notnull()

        A      B      C      D      E
0    True   True   True   True   True
1    True   True   True   True   True
2    True   True   True   True   True
3    True   True   True   True   True
4    True   True   True   True   True
5    True   True   True   True   True
6    True   True   True   True   True
7    True   True   True   True   True
8    True   True   True   True   True
9    True   True   True   True   True
10  False  False  False   True   True
11  False  False  False   True   True
12  False  False  False   True   True
13  False  False  False   True   True
14  False  False  False   True   True
15   True   True   True   True   True
16   True   True   True   True   True
17   True   True   True   True   True
18   True   True   True   True   True
19   True   True   True   True   True
20   True   True   True  False  False
21   True   True   True  False  False
22   True   True   True  False  False
23   True   True   True  False  False
24   True   True   True  False  False

In [74]:
df.fillna(0)

           A         B         C         D         E
0        inf       inf -1.159540 -0.096751 -0.392140
1        inf       inf -0.685017 -0.667853 -0.085671
2        inf       inf -0.200254 -1.058346  1.067173
3        inf       inf  1.037136  0.296640  0.145568
4        inf       inf  0.883851  2.265409 -0.674668
5  -0.496407 -1.242263      -inf      -inf -0.558152
6  -1.539002 -0.375123      -inf      -inf  1.033504
7   1.561104  0.689486      -inf      -inf  0.397104
8  -0.523826  0.102843      -inf      -inf  0.157797
9  -0.993228 -1.183516      -inf      -inf  1.412798
10  0.000000  0.000000  0.000000 -1.281684  0.294898
11  0.000000  0.000000  0.000000 -0.567359  0.164109
12  0.000000  0.000000  0.000000  1.373031  1.263222
13  0.000000  0.000000  0.000000  0.446447 -0.778221
14  0.000000  0.000000  0.000000 -0.799264 -0.356913
15 -0.584044 -0.947450  0.576879 -0.457263 -0.181133
16 -0.484139 -0.785524 -1.750454  0.319434 -2.320291
17  0.178088 -1.029523  0.826049 -1.114084 -0.942300
18 -1.611863 -2.292305 -1.223428  0.075040  0.621627
19  0.144238 -0.430151 -1.781123  0.205824  0.724104
20 -1.265297  2.167277 -0.194969  0.000000  0.000000
21 -0.310377 -0.528890  1.080789  0.000000  0.000000
22 -0.016858  0.763176 -1.593134  0.000000  0.000000
23  0.566396  0.587871 -0.254675  0.000000  0.000000
24 -1.587820 -1.071384 -0.443475  0.000000  0.000000

In [75]:
df.dropna()

           A         B         C         D         E
0        inf       inf -1.159540 -0.096751 -0.392140
1        inf       inf -0.685017 -0.667853 -0.085671
2        inf       inf -0.200254 -1.058346  1.067173
3        inf       inf  1.037136  0.296640  0.145568
4        inf       inf  0.883851  2.265409 -0.674668
5  -0.496407 -1.242263      -inf      -inf -0.558152
6  -1.539002 -0.375123      -inf      -inf  1.033504
7   1.561104  0.689486      -inf      -inf  0.397104
8  -0.523826  0.102843      -inf      -inf  0.157797
9  -0.993228 -1.183516      -inf      -inf  1.412798
15 -0.584044 -0.947450  0.576879 -0.457263 -0.181133
16 -0.484139 -0.785524 -1.750454  0.319434 -2.320291
17  0.178088 -1.029523  0.826049 -1.114084 -0.942300
18 -1.611863 -2.292305 -1.223428  0.075040  0.621627
19  0.144238 -0.430151 -1.781123  0.205824  0.724104

In [76]:
df.dropna(axis=1)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]

In [77]:
df.dropna(how='all')

           A         B         C         D         E
0        inf       inf -1.159540 -0.096751 -0.392140
1        inf       inf -0.685017 -0.667853 -0.085671
2        inf       inf -0.200254 -1.058346  1.067173
3        inf       inf  1.037136  0.296640  0.145568
4        inf       inf  0.883851  2.265409 -0.674668
5  -0.496407 -1.242263      -inf      -inf -0.558152
6  -1.539002 -0.375123      -inf      -inf  1.033504
7   1.561104  0.689486      -inf      -inf  0.397104
8  -0.523826  0.102843      -inf      -inf  0.157797
9  -0.993228 -1.183516      -inf      -inf  1.412798
10       NaN       NaN       NaN -1.281684  0.294898
11       NaN       NaN       NaN -0.567359  0.164109
12       NaN       NaN       NaN  1.373031  1.263222
13       NaN       NaN       NaN  0.446447 -0.778221
14       NaN       NaN       NaN -0.799264 -0.356913
15 -0.584044 -0.947450  0.576879 -0.457263 -0.181133
16 -0.484139 -0.785524 -1.750454  0.319434 -2.320291
17  0.178088 -1.029523  0.826049 -1.114084 -0.942300
18 -1.611863 -2.292305 -1.223428  0.075040  0.621627
19  0.144238 -0.430151 -1.781123  0.205824  0.724104
20 -1.265297  2.167277 -0.194969       NaN       NaN
21 -0.310377 -0.528890  1.080789       NaN       NaN
22 -0.016858  0.763176 -1.593134       NaN       NaN
23  0.566396  0.587871 -0.254675       NaN       NaN
24 -1.587820 -1.071384 -0.443475       NaN       NaN

In [78]:
df.dropna(thresh=2)

           A         B         C         D         E
0        inf       inf -1.159540 -0.096751 -0.392140
1        inf       inf -0.685017 -0.667853 -0.085671
2        inf       inf -0.200254 -1.058346  1.067173
3        inf       inf  1.037136  0.296640  0.145568
4        inf       inf  0.883851  2.265409 -0.674668
5  -0.496407 -1.242263      -inf      -inf -0.558152
6  -1.539002 -0.375123      -inf      -inf  1.033504
7   1.561104  0.689486      -inf      -inf  0.397104
8  -0.523826  0.102843      -inf      -inf  0.157797
9  -0.993228 -1.183516      -inf      -inf  1.412798
10       NaN       NaN       NaN -1.281684  0.294898
11       NaN       NaN       NaN -0.567359  0.164109
12       NaN       NaN       NaN  1.373031  1.263222
13       NaN       NaN       NaN  0.446447 -0.778221
14       NaN       NaN       NaN -0.799264 -0.356913
15 -0.584044 -0.947450  0.576879 -0.457263 -0.181133
16 -0.484139 -0.785524 -1.750454  0.319434 -2.320291
17  0.178088 -1.029523  0.826049 -1.114084 -0.942300
18 -1.611863 -2.292305 -1.223428  0.075040  0.621627
19  0.144238 -0.430151 -1.781123  0.205824  0.724104
20 -1.265297  2.167277 -0.194969       NaN       NaN
21 -0.310377 -0.528890  1.080789       NaN       NaN
22 -0.016858  0.763176 -1.593134       NaN       NaN
23  0.566396  0.587871 -0.254675       NaN       NaN
24 -1.587820 -1.071384 -0.443475       NaN       NaN

In [79]:
df.fillna(0, inplace=False)

           A         B         C         D         E
0        inf       inf -1.159540 -0.096751 -0.392140
1        inf       inf -0.685017 -0.667853 -0.085671
2        inf       inf -0.200254 -1.058346  1.067173
3        inf       inf  1.037136  0.296640  0.145568
4        inf       inf  0.883851  2.265409 -0.674668
5  -0.496407 -1.242263      -inf      -inf -0.558152
6  -1.539002 -0.375123      -inf      -inf  1.033504
7   1.561104  0.689486      -inf      -inf  0.397104
8  -0.523826  0.102843      -inf      -inf  0.157797
9  -0.993228 -1.183516      -inf      -inf  1.412798
10  0.000000  0.000000  0.000000 -1.281684  0.294898
11  0.000000  0.000000  0.000000 -0.567359  0.164109
12  0.000000  0.000000  0.000000  1.373031  1.263222
13  0.000000  0.000000  0.000000  0.446447 -0.778221
14  0.000000  0.000000  0.000000 -0.799264 -0.356913
15 -0.584044 -0.947450  0.576879 -0.457263 -0.181133
16 -0.484139 -0.785524 -1.750454  0.319434 -2.320291
17  0.178088 -1.029523  0.826049 -1.114084 -0.942300
18 -1.611863 -2.292305 -1.223428  0.075040  0.621627
19  0.144238 -0.430151 -1.781123  0.205824  0.724104
20 -1.265297  2.167277 -0.194969  0.000000  0.000000
21 -0.310377 -0.528890  1.080789  0.000000  0.000000
22 -0.016858  0.763176 -1.593134  0.000000  0.000000
23  0.566396  0.587871 -0.254675  0.000000  0.000000
24 -1.587820 -1.071384 -0.443475  0.000000  0.000000

In [80]:
df

           A         B         C         D         E
0        inf       inf -1.159540 -0.096751 -0.392140
1        inf       inf -0.685017 -0.667853 -0.085671
2        inf       inf -0.200254 -1.058346  1.067173
3        inf       inf  1.037136  0.296640  0.145568
4        inf       inf  0.883851  2.265409 -0.674668
5  -0.496407 -1.242263      -inf      -inf -0.558152
6  -1.539002 -0.375123      -inf      -inf  1.033504
7   1.561104  0.689486      -inf      -inf  0.397104
8  -0.523826  0.102843      -inf      -inf  0.157797
9  -0.993228 -1.183516      -inf      -inf  1.412798
10       NaN       NaN       NaN -1.281684  0.294898
11       NaN       NaN       NaN -0.567359  0.164109
12       NaN       NaN       NaN  1.373031  1.263222
13       NaN       NaN       NaN  0.446447 -0.778221
14       NaN       NaN       NaN -0.799264 -0.356913
15 -0.584044 -0.947450  0.576879 -0.457263 -0.181133
16 -0.484139 -0.785524 -1.750454  0.319434 -2.320291
17  0.178088 -1.029523  0.826049 -1.114084 -0.942300
18 -1.611863 -2.292305 -1.223428  0.075040  0.621627
19  0.144238 -0.430151 -1.781123  0.205824  0.724104
20 -1.265297  2.167277 -0.194969       NaN       NaN
21 -0.310377 -0.528890  1.080789       NaN       NaN
22 -0.016858  0.763176 -1.593134       NaN       NaN
23  0.566396  0.587871 -0.254675       NaN       NaN
24 -1.587820 -1.071384 -0.443475       NaN       NaN

In [81]:
df['A'].fillna(0)

0          inf
1          inf
2          inf
3          inf
4          inf
5    -0.496407
6    -1.539002
7     1.561104
8    -0.523826
9    -0.993228
10    0.000000
11    0.000000
12    0.000000
13    0.000000
14    0.000000
15   -0.584044
16   -0.484139
17    0.178088
18   -1.611863
19    0.144238
20   -1.265297
21   -0.310377
22   -0.016858
23    0.566396
24   -1.587820
Name: A, dtype: float64

In [82]:
df.replace(r'\s+',np.nan, regex=False)

           A         B         C         D         E
0        inf       inf -1.159540 -0.096751 -0.392140
1        inf       inf -0.685017 -0.667853 -0.085671
2        inf       inf -0.200254 -1.058346  1.067173
3        inf       inf  1.037136  0.296640  0.145568
4        inf       inf  0.883851  2.265409 -0.674668
5  -0.496407 -1.242263      -inf      -inf -0.558152
6  -1.539002 -0.375123      -inf      -inf  1.033504
7   1.561104  0.689486      -inf      -inf  0.397104
8  -0.523826  0.102843      -inf      -inf  0.157797
9  -0.993228 -1.183516      -inf      -inf  1.412798
10       NaN       NaN       NaN -1.281684  0.294898
11       NaN       NaN       NaN -0.567359  0.164109
12       NaN       NaN       NaN  1.373031  1.263222
13       NaN       NaN       NaN  0.446447 -0.778221
14       NaN       NaN       NaN -0.799264 -0.356913
15 -0.584044 -0.947450  0.576879 -0.457263 -0.181133
16 -0.484139 -0.785524 -1.750454  0.319434 -2.320291
17  0.178088 -1.029523  0.826049 -1.114084 -0.942300
18 -1.611863 -2.292305 -1.223428  0.075040  0.621627
19  0.144238 -0.430151 -1.781123  0.205824  0.724104
20 -1.265297  2.167277 -0.194969       NaN       NaN
21 -0.310377 -0.528890  1.080789       NaN       NaN
22 -0.016858  0.763176 -1.593134       NaN       NaN
23  0.566396  0.587871 -0.254675       NaN       NaN
24 -1.587820 -1.071384 -0.443475       NaN       NaN

In [83]:
np.isfinite(df)

        A      B      C      D      E
0   False  False   True   True   True
1   False  False   True   True   True
2   False  False   True   True   True
3   False  False   True   True   True
4   False  False   True   True   True
5    True   True  False  False   True
6    True   True  False  False   True
7    True   True  False  False   True
8    True   True  False  False   True
9    True   True  False  False   True
10  False  False  False   True   True
11  False  False  False   True   True
12  False  False  False   True   True
13  False  False  False   True   True
14  False  False  False   True   True
15   True   True   True   True   True
16   True   True   True   True   True
17   True   True   True   True   True
18   True   True   True   True   True
19   True   True   True   True   True
20   True   True   True  False  False
21   True   True   True  False  False
22   True   True   True  False  False
23   True   True   True  False  False
24   True   True   True  False  False

In [84]:
np.isfinite(df).sum()

A    15
B    15
C    15
D    15
E    20
dtype: int64